<p style="color: green"><%= notice %></p>

<% @list.bookmarks.each do |bookmark| %>
   <p><%= bookmark.comment %></p>
   <% movie = Movie.find(bookmark.movie_id)%>
     <%= movie.title %>
     <%= movie.overview %>



 <p> <%= link_to "delete Bookmark", bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
<% end %>


<div>
  <%= link_to "Create a Bookmark", new_list_bookmark_path(@list) %> |
  <%= link_to "Back to lists", lists_path %>
  <%= button_to "Destroy this list", @list, method: :delete %>
</div>
